.small {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
}

.checkbox {
  width: auto !important;
}

.visible {
  display: inline-flex;
  align-items: center;
}

.word {
  display: inline-flex !important;
  min-width: 200px;
  height: 24px;
  align-items: center;
}

.pronounce {
  font-family: 'KingsoftPhoneticPlain';
  font-size: 16px;
  min-width: 150px;
  height: 24px;
  line-height: 24px;
}

.vocabulary {
  padding-left: 4px;
  font-size: 14px;
}

@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : landscape) {

  .word {
    font-size: 20px;
    height: 32px;
    min-width: 220px;
  }

  .pronounce {
    font-size: 20px;
    min-width: 200px;
    height: 32px;
  }

  .vocabulary {
    font-size: 16px;
  }
}